*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.nav{
    height: 70px;
    background-color: navy;
    background-attachment: fixed;
    position: relative;
    width: 100%;
}
.nav ul{
    list-style-type: none;
    float: left;
    position: sticky;
    top: 0;
}
.nav .logo{
    float: left;
    width: 20%;
    font-size: 40px;
    color: wheat;
    text-align: center;
    font-weight: 600;
    line-height: 70px;
}
.nav ul li{
    float: left;
    padding: 0 50px;
}
.nav ul li a{
    color: orange;
    line-height: 70px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}
.nav .logo .logo_FON{
    color:orange;
}
.slika{
    height: 90vh ;
    background-image: url(WiFi-vs-Movie-in-the-Movie-Theater.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}
* {box-sizing:border-box}

.slideshow-container {
  max-width: 450px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-duration: 10s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* a{
    margin-left: 100px;
} */
